In [1]:
import pandas as pd 
import numpy as np
import sklearn

import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
df = pd.read_csv('car_prices.csv')
df.head()

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos

In [4]:
df.shape

(3722, 20)

In [5]:
df.columns

Index(['car_id', 'price', 'fuel type', 'gear type', 'Make', 'Model',
       'Year of manufacture', 'Colour', 'Condition', 'Mileage', 'Engine Size',
       'Selling Condition', 'Bought Condition', 'car', 'Trim', 'Drivetrain',
       'Seats', 'Number of Cylinders', 'Horse Power', 'Registered city'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_id               3722 non-null   object
 1   price                3722 non-null   int64
 2   fuel type            3721 non-null   object
 3   gear type            3720 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3717 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3663 non-null   float64
 10  Engine Size          3661 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  car                  1767 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

In [7]:
df.describe()

,price,Year of manufacture,Mileage,Engine Size,Seats,Number of Cylinders,Horse Power
count,3.722000e+03,3722.000000,3.663000e+03,3.661000e+03,788.000000,826.000000,755.000000
mean,4.514644e+06,2008.145889,1.949841e+05,1.108062e+04,5.285533,5.157385,208.831788
std,4.297012e+06,4.205670,1.395755e+05,1.091127e+05,0.800853,1.202795,70.940925
min,5.500000e+05,1979.000000,1.000000e+00,1.800000e+02,2.000000,4.000000,83.000000
25%,2.310000e+06,2005.000000,1.173945e+05,2.000000e+03,5.000000,4.000000,158.000000
50%,3.360000e+06,2008.000000,1.762900e+05,2.500000e+03,5.000000,6.000000,203.000000
75%,5.036250e+06,2011.000000,2.453815e+05,3.500000e+03,5.000000,6.000000,268.000000
max,6.240000e+07,2022.000000,2.456318e+06,3.500000e+06,8.000000,8.000000,585.000000

In [8]:
df.isna().any().any()

True

In [9]:
df.isna().sum()

car_id                    0
price                     0
fuel type                 1
gear type                 2
Make                      0
Model                     0
Year of manufacture       0
Colour                    5
Condition                 0
Mileage                  59
Engine Size              61
Selling Condition         0
Bought Condition          0
car                    1955
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64

In [10]:
df["Mileage"] = df["Mileage"].fillna(df["Mileage"].mean())

In [11]:
df["Engine Size"] = df["Engine Size"].fillna(df["Engine Size"].mean())

In [12]:
df["fuel type"] = df["fuel type"].fillna(df["fuel type"].mode()[0])

In [13]:
df.isna().sum()

car_id                    0
price                     0
fuel type                 0
gear type                 2
Make                      0
Model                     0
Year of manufacture       0
Colour                    5
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
car                    1955
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64

In [14]:
# df = df.dropna()

In [15]:
df.shape

(3722, 20)

In [16]:
df['Model']

0           Corolla
1               MDX
2                TL
3       Range Rover
4              Edge
           ...
3717           RAV4
3718        M Class
3719          Camry
3720           RAV4
3721          Civic
Name: Model, Length: 3722, dtype: object

In [17]:
df["fuel type"]

0       Petrol
1       Petrol
2       Petrol
3       Petrol
4       Petrol
         ...
3717    Petrol
3718    Petrol
3719    Petrol
3720    Petrol
3721    Petrol
Name: fuel type, Length: 3722, dtype: object

## Preprocess the Data

In [28]:
# Encode categorical variables
from sklearn.preprocessing import LabelEncoder

categorical_cols = ["fuel type", "Model"]  # Add all categorical columns
encoder = LabelEncoder()

for col in categorical_cols:
    df[col] = encoder.fit_transform(df[col])

In [29]:
#from sklearn.preprocessing import LabelEncoder

#encoder = LabelEncoder()

#df["fuel type"] = encoder.fit_transform(df["fuel type"])
#df["Model"] = encoder.fit_transform(df["Model"])

In [30]:
from sklearn.model_selection import train_test_split

# select features and target variables
X = df[['Mileage', 'Engine Size', 'Year of manufacture', 'fuel type', 'Model']] # Features
y = df['price'] # Target variable

In [31]:
X.shape

(3722, 5)

In [32]:
y.shape

(3722,)

## Split the Data into Training and Testing Sets

In [33]:
# Split into 80% training and 20% testing

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Training set size

X_train.shape

(2977, 5)

In [35]:
# Testing set size

X_test.shape

(745, 5)

## Train the AI Model using Linear Regression model

In [36]:
# Import the LinearRegression from sklearn.linear_model

from sklearn.linear_model import LinearRegression

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)
print("Model training complete!")

Model training complete!

In [37]:
model.score(X_train, y_train)

0.31629393117399807

In [38]:
model.score(X_test, y_test)

0.33314741194124553

## Make Predictions for house prices using the trained model

In [40]:
# Make predictions please note the word model.predict

y_pred = model.predict(X_test)

# Print some predicted values
print("Predicted prices:", y_pred[:5])

Predicted prices: [ 203742.67364192 3676329.90590215 3747902.89392591 2237277.79690289
 4121465.0296104 ]

In [44]:
from sklearn.metrics import mean_absolute_error, mean_squared_error  # Import required functions


# Calculate error metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)  # Root Mean Squared Error

# Print results with correct labels
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

Mean Absolute Error (MAE): 1986505.9201157019
Mean Squared Error (MSE): 9491971188476.26
Root Mean Squared Error (RMSE): 3080904.280966265